
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>WorkWise Html Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
</head>

<body>	
	<div *ngIf="overlayIsActive" id="superoverlay" class="superoverlay" (click)="removeAllOverlays()"></div>
	<div id="wrapper" class="wrapper">	
		<header>
			<div class="container">
				<div class="header-data">
					<!-- <div class="logo">
						<a href="index.html" title=""><img src="./../../assets/images/logo.png" alt=""></a>
					</div>logo end -->
					<div class="search-bar">
						<form>
							<input type="text" name="search" placeholder="Search...">
							<button type="submit"><i class="la la-search"></i></button>
						</form>
                    </div><!--search-bar end-->
                    <div class="logo">
						<!-- just a placeholder -->
					</div>
					<nav>
						<ul>
							<li>
								<a  routerLink="" title="">
									Home									
								</a>
							</li>
							<li>
								<a routerLink="/friends" style="text-align: left;" title="" >
									Abonniert
								</a>
							</li>							
							<li>
								<a href="javascript:;" title="" class="not-box-openm">
									Chat
								</a>
								<div class="notification-box msg" id="message">
									<div class="nt-title">
										<h4>Setting</h4>
										<a href="javascript:;" title="">Clear all</a>
									</div>
									<div class="nott-list">
										<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="./../../assets/images/resources/ny-img1.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="messages.html" title="">Jassica William</a> </h3>
							  					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="./../../assets/images/resources/ny-img2.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="messages.html" title="">Jassica William</a></h3>
							  					<p>Lorem ipsum dolor sit amet.</p>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="./../../assets/images/resources/ny-img3.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="messages.html" title="">Jassica William</a></h3>
							  					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua.</p>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="view-all-nots">
						  					<a href="messages.html" title="">View All Messsages</a>
						  				</div>
									</div><!--nott-list end-->
								</div><!--notification-box end-->
							</li>
							<li>
								<a href="javascript:;" title="" class="not-box-open" (click)="showNotifications()">
									<span><img src="./../../assets/images/icon7.png" alt=""></span>
									Benachrichtigungen
								</a>
								<div class="notification-box noti" id="notification">
									<div class="nt-title">
										<h4>Setting</h4>
										<a href="javascript:;" title="">Clear all</a>
									</div>
									<div class="nott-list">
										<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="./../../assets/images/resources/ny-img1.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="javascript:;" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="./../../assets/images/resources/ny-img2.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="javascript:;" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="./../../assets/images/resources/ny-img3.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="javascript:;" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="./../../assets/images/resources/ny-img2.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="javascript:;" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="view-all-nots">
						  					<a href="javascript:;" title="">View All Notification</a>
						  				</div>
									</div><!--nott-list end-->
								</div><!--notification-box end-->
							</li>
						</ul>
					</nav><!--nav end-->
					<div class="menu-btn">
						<a href="javascript:;" title=""><i class="fa fa-bars"></i></a>
					</div><!--menu-btn end-->
					<div class="user-account" >
						<div class="user-info" (click)="openUserDropDown()">
							<!-- <img src="./../../assets/images/resources/user.png" alt=""> -->
							<a href="javascript:;" title="" style="padding-left: 15px; font-size: 20px;">John</a>
							<i class="la la-sort-down" style="padding-top: 5px;"></i>
						</div>
						<div class="user-account-settingss" id="users" style="margin-top: 10px;">
							<h3>Online Status</h3>
							<ul class="on-off-status">
								<li>
									<div class="fgt-sec">
										<input type="radio" name="cc" id="c5">
										<label for="c5">
											<span></span>
										</label>
										<small>Online</small>
									</div>
								</li>
								<li>
									<div class="fgt-sec">
										<input type="radio" name="cc" id="c6">
										<label for="c6">
											<span></span>
										</label>
										<small>Offline</small>
									</div>
								</li>
							</ul>
							<h3>Custom Status</h3>
							<div class="search_form">
								<form>
									<input type="text" name="search">
									<button type="submit">Ok</button>
								</form>
							</div><!--search_form end-->
							<h3>Setting</h3>
							<ul class="us-links">
								<li><a href="profile-account-setting.html" title="">Account Setting</a></li>
								<li><a href="javascript:;" title="">Privacy</a></li>
								<li><a href="javascript:;" title="">Faqs</a></li>
								<li><a href="javascript:;" title="">Terms & Conditions</a></li>
							</ul>
							<h3 class="tc"><a href="sign-in.html" title="">Logout</a></h3>
						</div><!--user-account-settingss end-->
					</div>
				</div><!--header-data end-->
			</div>
		</header><!--header end-->	

		<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3 col-md-4 pd-left-none no-pd">
								<div class="main-left-sidebar no-margin">
									<div class="user-data full-width">
										<div class="user-profile">
                                            <div class="username-dt">
												<div class="usr-pic">
													<img src="./../../assets/images/resources/user-pic.png" alt="">
												</div>
											</div><!--username-dt end-->
                                            
											<div class="user-specs">
												<h3>John Doe</h3>
												<span>Grafik Designer - Selbstständig</span>
											</div>
										</div><!--user-profile end-->
										<ul class="user-fw-status">
											<li>
												<h4>Du folgst</h4>
												<span>34</span>
											</li>
											<li>
												<h4>Du wirst gefolgt von</h4>
												<span>155</span>
											</li>
											<li>
												<a routerLink="/profilepage" title="">Profilseite ansehen</a>
											</li>
										</ul>
									</div><!--user-data end-->									
									<div class="tags-sec full-width">
										<ul>
											<li><a href="javascript:;" title="">Help Center</a></li>
											<li><a href="javascript:;" title="">About</a></li>
											<li><a href="javascript:;" title="">Privacy Policy</a></li>
											<li><a href="javascript:;" title="">Community Guidelines</a></li>
											<li><a href="javascript:;" title="">Cookies Policy</a></li>
											<li><a href="javascript:;" title="">Karriere</a></li>
											<li><a href="javascript:;" title="">Sprachen</a></li>
											<li><a href="javascript:;" title="">Copyright Policy</a></li>
										</ul>
										<div class="cp-sec">
											
											<p><img src="./../../assets/images/cp.png" alt="">Copyright 2021</p>
										</div>
									</div><!--tags-sec end-->
								</div><!--main-left-sidebar end-->
							</div>
							<div class="col-lg-6 col-md-8 no-pd">
								<div class="main-ws-sec">
									<div class="post-topbar">

                                        <label style="padding-top: 15px; font-size: larger; color: grey" for="postButton">
											<h3>Mir geht es...</h3>
										</label>
										<div id="postButton" class="post-st">
											<ul>												
												<li><a class="post-jb active" href="javascript:;" title="" (click)="newPost()">Poste deine Stimmung</a></li>
											</ul>
										</div><!--post-st end-->
									</div><!--post-topbar end-->
									<div class="posts-section">
										<div class="post-bar">
											<div class="post_topbar">
												<div class="usy-dt">
													<!-- <img src="./../../assets/images/resources/us-pic.png" alt=""> -->
													<div class="usy-name">
														<h3>John Doe</h3>
														<span><img src="./../../assets/images/clock.png" alt="">3 min ago</span>
													</div>
												</div>
												<div class="ed-opts">
													<a href="javascript:;" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
													<ul class="ed-options">
														<li><a href="javascript:;" title="">Edit Post</a></li>
														<li><a href="javascript:;" title="">Unsaved</a></li>
														<li><a href="javascript:;" title="">Unbid</a></li>
														<li><a href="javascript:;" title="">Close</a></li>
														<li><a href="javascript:;" title="">Hide</a></li>
													</ul>
												</div>
											</div>
											<div class="job_descp">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="javascript:;" title="">view more</a></p>
												<ul class="skill-tags">
													<li><a href="javascript:;" title="">HTML</a></li>
													<li><a href="javascript:;" title="">PHP</a></li>
													<li><a href="javascript:;" title="">CSS</a></li>
													<li><a href="javascript:;" title="">Javascript</a></li>
													<li><a href="javascript:;" title="">Wordpress</a></li> 	
												</ul>
											</div>
											<div class="job-status-bar">
												<ul class="like-com">
													<li>
														<a href="javascript:;"><i class="fas fa-heart"></i> Like</a>
														<!-- <img src="./../../assets/images/liked-img.png" alt=""> -->
                                                        <!-- <span>25</span> -->
                                                        <span style="background-color: transparent;"></span>
													</li> 
													<li><a href="javascript:;" class="com"><i class="fas fa-comment-alt"></i> Kommentare 15</a></li>
												</ul>
												<a href="javascript:;"><i class="fas fa-eye"></i>Gesehen 50</a>
											</div>
										</div><!--post-bar end-->
										

										<div class="process-comm">
											<div class="spinner">
												<div class="bounce1"></div>
												<div class="bounce2"></div>
												<div class="bounce3"></div>
											</div>
										</div><!--process-comm end-->
									</div><!--posts-section end-->
								</div><!--main-ws-sec end-->
							</div>
							<div class="col-lg-3 pd-right-none no-pd">
								<div class="right-sidebar">																	
									<div class="widget suggestions full-width">
                                        <div style="border-top: 4px solid #e44d3a;"></div>
										<div class="sd-title">                                            
											<h3>Personen, welche du vielleicht kennst</h3>
											<i class="la la-ellipsis-v"></i>
										</div><!--sd-title end-->
										<div class="suggestions-list">
											<div class="suggestion-usd">
												<img src="./../../assets/images/resources/s1.png" alt="">
												<div class="sgt-text">
													<h4>Jessica William</h4>
													<span>Grafik Designer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<img src="./../../assets/images/resources/s2.png" alt="">
												<div class="sgt-text">
													<h4>John Doe</h4>
													<span>PHP Entiwckler</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<img src="./../../assets/images/resources/s3.png" alt="">
												<div class="sgt-text">
													<h4>Poonam</h4>
													<span>Wordpress Entwickler</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<img src="./../../assets/images/resources/s4.png" alt="">
												<div class="sgt-text">
													<h4>Bill Gates</h4>
													<span>C &amp; C++ Entwickler</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<img src="./../../assets/images/resources/s5.png" alt="">
												<div class="sgt-text">
													<h4>Jessica William</h4>
													<span>Grafic Designer</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="suggestion-usd">
												<img src="./../../assets/images/resources/s6.png" alt="">
												<div class="sgt-text">
													<h4>John Doe</h4>
													<span>PHP Entwickler</span>
												</div>
												<span><i class="la la-plus"></i></span>
											</div>
											<div class="view-more">
												<a href="javascript:;" title="">View More</a>
											</div>
										</div><!--suggestions-list end-->
									</div>
								</div><!--right-sidebar end-->
							</div>
						</div>
					</div><!-- main-section-data end-->
				</div> 
			</div>
		</main>




		<div id="popup" class="post-popup pst-pj">
			<div class="post-project">
				<h3>Poste deine Stimmung</h3>
				<div class="post-project-fields">
					<form>
						<div class="row">			
							<div class="col-lg-12">
								<div class="inp-field">
									<select style="color: black">
										<option disabled>Gefühlslage</option>
										<option>Glücklich</option>
										<option>Traurig</option>
										<option>Wütend</option>
									</select>
								</div>
							</div>
							<div class="col-lg-12">
								<textarea name="description" placeholder="Mir geht es..." style="color: black"></textarea>
                            </div>
                            <div class="col-lg-12">
								<input type="text" name="skills" placeholder="#happy #sad" style="color: black">
							</div>
							<div class="col-lg-12">
								<ul>
									<li><button class="active" type="submit" value="post">Post</button></li>
									<li><a href="javascript:;" title="">Cancel</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div><!--post-project-fields end-->
				<a href="javascript:;" title="" (click)="removeOverlay()"><i class="la la-times-circle-o"></i></a>
			</div><!--post-project end-->
		</div><!--post-project-popup end-->

		



		

	</div><!--theme-layout end-->


<!-- 
<script type="text/javascript" src="./../../js/jquery.min.js"></script>
<script type="text/javascript" src="./../../js/popper.js"></script>
<script type="text/javascript" src="./../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="./../../js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="./../../lib/slick/slick.min.js"></script>
<script type="text/javascript" src="./../../js/scrollbar.js"></script>
<script type="text/javascript" src="./../../js/script.js"></script> -->

</body>
</html>