
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>WorkWise Html Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
</head>

<div *ngIf="loaded == false" class="process-comm">
	<div class="spinner">
		<div class="bounce1"></div>
		<div class="bounce2"></div>
		<div class="bounce3"></div>
	</div>
</div>

<body *ngIf="loaded == true">	

	<!--  <button (click)="addUserToNetwork('3','Barbara3')">Add Barbara to Neo4J</button> -->
	<!-- <button (click)="addUserToNetwork('1','Alfred1')">Add Alfred to Neo4J</button> -->
	<!-- <button (click)="deleteUserFromNetwork()">Delete User From Neo4J</button> -->
	<!-- <button (click)="getUserFromNetwork(13)">Get User From Neo4J</button> -->
	<!-- <button (click)="getAllUsersFromNetwork()">Get All User From Neo4J</button> -->
	<!-- <button (click)="followUserInNetwork(23,1)">Follow User In Neo4J</button> -->
	<!-- <button (click)="getPostingsOfUser(1)">Get all Postings of current user</button> -->
	<div *ngIf="overlayIsActive" id="superoverlay" class="superoverlay" (click)="removeAllOverlays()"></div>
	<div id="wrapper" class="wrapper">	
		<header>
			<div class="container">
				<div class="header-data">
					<!-- <div class="logo">
						<a href="index.html" title=""><img src="./../../assets/images/logo.png" alt=""></a>
					</div>logo end -->
					<div class="search-bar">
						<form>
							<input type="text" name="search" placeholder="Search...">
							<button type="submit"><i class="la la-search"></i></button>
						</form>
                    </div><!--search-bar end-->
                    <div class="logo">
						<!-- just a placeholder -->
					</div>
					<nav>
						<ul>
							<li>
								<a  routerLink="" title="">
									Home									
								</a>
							</li>
							<li>
								<a routerLink="/friends" style="text-align: left;" title="" >
									Abonniert
								</a>
							</li>							
							<li>
								<a href="javascript:;" title="" class="not-box-openm">
									Chat
								</a>
								<div class="notification-box msg" id="message">
									<div class="nt-title">
										<h4>Setting</h4>
										<a href="javascript:;" title="">Clear all</a>
									</div>
									<div class="nott-list">
										<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="./../../assets/images/resources/ny-img1.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="messages.html" title="">Jassica William</a> </h3>
							  					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="./../../assets/images/resources/ny-img2.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="messages.html" title="">Jassica William</a></h3>
							  					<p>Lorem ipsum dolor sit amet.</p>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="./../../assets/images/resources/ny-img3.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="messages.html" title="">Jassica William</a></h3>
							  					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua.</p>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="view-all-nots">
						  					<a href="messages.html" title="">View All Messsages</a>
						  				</div>
									</div><!--nott-list end-->
								</div><!--notification-box end-->
							</li>
							<li>
								<a href="javascript:;" title="" class="not-box-open" (click)="showNotifications()">
									<span><img src="./../../assets/images/icon7.png" alt=""></span>
									Benachrichtigungen
								</a>
								<div class="notification-box noti" id="notification">
									<div class="nt-title">
										<h4>Setting</h4>
										<a href="javascript:;" title="">Clear all</a>
									</div>
									<div class="nott-list">
										<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="./../../assets/images/resources/ny-img1.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="javascript:;" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="./../../assets/images/resources/ny-img2.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="javascript:;" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="./../../assets/images/resources/ny-img3.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="javascript:;" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="./../../assets/images/resources/ny-img2.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="javascript:;" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="view-all-nots">
						  					<a href="javascript:;" title="">View All Notification</a>
						  				</div>
									</div><!--nott-list end-->
								</div><!--notification-box end-->
							</li>
						</ul>
					</nav><!--nav end-->
					<div class="menu-btn">
						<a href="javascript:;" title=""><i class="fa fa-bars"></i></a>
					</div><!--menu-btn end-->
					<div class="user-account" >
						<div class="user-info" (click)="openUserDropDown()">
							<!-- <img src="./../../assets/images/resources/user.png" alt=""> -->
							<a href="javascript:;" title="" style="padding-left: 15px; font-size: 20px;">John</a>
							<i class="la la-sort-down" style="padding-top: 5px;"></i>
						</div>
						<div class="user-account-settingss" id="users" style="margin-top: 10px;">
							<h3>Online Status</h3>
							<ul class="on-off-status">
								<li>
									<div class="fgt-sec">
										<input type="radio" name="cc" id="c5">
										<label for="c5">
											<span></span>
										</label>
										<small>Online</small>
									</div>
								</li>
								<li>
									<div class="fgt-sec">
										<input type="radio" name="cc" id="c6">
										<label for="c6">
											<span></span>
										</label>
										<small>Offline</small>
									</div>
								</li>
							</ul>
							<h3>Custom Status</h3>
							<div class="search_form">
								<form>
									<input type="text" name="search">
									<button type="submit">Ok</button>
								</form>
							</div><!--search_form end-->
							<h3>Setting</h3>
							<ul class="us-links">
								<li><a href="profile-account-setting.html" title="">Account Setting</a></li>
								<li><a href="javascript:;" title="">Privacy</a></li>
								<li><a href="javascript:;" title="">Faqs</a></li>
								<li><a href="javascript:;" title="">Terms & Conditions</a></li>
							</ul>
							<h3 class="tc"><a href="javascript:;" title="" (click)="logout()">Logout</a></h3>
						</div><!--user-account-settingss end-->
					</div>
				</div><!--header-data end-->
			</div>
		</header><!--header end-->	

		<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3 col-md-4 pd-left-none no-pd">
								<div class="main-left-sidebar no-margin">
									<div class="user-data full-width">
										<div class="user-profile">
                                            <div class="username-dt">
												<div class="usr-pic">
													<img src='{{"./../../assets/images/" + userMood + ".png"}}' alt="">
												</div>
											</div><!--username-dt end-->
                                            
											<div class="user-specs">
												<h3>{{vorname}} {{nachname}}</h3>
												<span>{{status}}</span>
											</div>
										</div><!--user-profile end-->
										<ul class="user-fw-status">
											<li>
												<h4>Du folgst</h4>
												<span>{{followingCount}}</span>
											</li>
											<li>
												<h4>Du wirst gefolgt von</h4>
												<span>{{followersCount}}</span>
											</li>
											<li>
												<a routerLink="/profilepage" title="">Profilseite ansehen</a>
											</li>
										</ul>
									</div><!--user-data end-->									
									<div class="tags-sec full-width">
										<ul>
											<li><a href="javascript:;" title="">Hilfe Center</a></li>
											<li><a href="javascript:;" title="">Über Uns</a></li>
											<li><a href="javascript:;" title="">Datenschutz</a></li>
											<li><a href="javascript:;" title="">Community Guidelines</a></li>
											<li><a href="javascript:;" title="">Cookies</a></li>
											<li><a href="javascript:;" title="">Karriere</a></li>
											<li><a href="javascript:;" title="">Sprachen</a></li>
											<li><a href="javascript:;" title="">Copyright</a></li>
										</ul>
										<div class="cp-sec">
											
											<p><img src="./../../assets/images/cp.png" alt="">Copyright 2021</p>
										</div>
									</div><!--tags-sec end-->
								</div><!--main-left-sidebar end-->
							</div>
							<div class="col-lg-6 col-md-8 no-pd">
								<div class="main-ws-sec">
									<div class="post-topbar">

                                        <label style="padding-top: 15px; font-size: larger; color: grey" for="postButton">
											<h3>Mir geht es...</h3>
										</label>
										<div id="postButton" class="post-st">
											<ul>												
												<li><a class="post-jb active" href="javascript:;" title="" (click)="newPost()">Poste deine Stimmung</a></li>
											</ul>
										</div><!--post-st end-->
									</div><!--post-topbar end-->
									<div class="posts-section">
										<div class="post-bar" *ngFor="let post of allPostings">
											<div class="post_topbar">
												<div class="usy-dt">
													<img class="small-profile-mood" src='{{"./../../assets/images/" + post.emotion + ".png"}}' alt="">
													<div class="usy-name">
														<h3>{{post.name}}</h3>
														<span><img src="./../../assets/images/clock.png" alt="">{{dateFormatter(post.created)}}</span>
													</div>
												</div>
												<div class="ed-opts">
													<a href="javascript:;" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
													<ul class="ed-options">
														<li><a href="javascript:;" title="">Edit Post</a></li>
														<li><a href="javascript:;" title="">Unsaved</a></li>
														<li><a href="javascript:;" title="">Unbid</a></li>
														<li><a href="javascript:;" title="">Close</a></li>
														<li><a href="javascript:;" title="">Hide</a></li>
													</ul>
												</div>
											</div>
											<div class="job_descp">
												<p>{{post.content}}</p>
												<ul class="skill-tags" >
													<li *ngFor="let hashtag of post.hashtags"><a href="javascript:;" title="">{{hashtag}}</a></li>
												</ul>
											</div>
											<!-- <div class="job-status-bar">
												<ul class="like-com">
													<li>
														<a href="javascript:;"><i class="fas fa-heart"></i> Like</a>
														<img src="./../../assets/images/liked-img.png" alt="">
                                                        <span>25</span>
                                                        <span style="background-color: transparent;"></span>
													</li> 
													<li><a href="javascript:;" class="com"><i class="fas fa-comment-alt"></i> Kommentare 15</a></li>
												</ul>
												<a href="javascript:;"><i class="fas fa-eye"></i>Gesehen 50</a>
											</div> -->
										</div><!--post-bar end-->
										

										<!-- <div class="process-comm">
											<div class="spinner">
												<div class="bounce1"></div>
												<div class="bounce2"></div>
												<div class="bounce3"></div>
											</div>
										</div> -->
										<!--process-comm end-->
									</div><!--posts-section end-->
								</div><!--main-ws-sec end-->
							</div>
							<div class="col-lg-3 pd-right-none no-pd">
								<div class="right-sidebar">																	
									<div class="widget suggestions full-width">
                                        <div style="border-top: 4px solid #e44d3a;"></div>
										<div class="sd-title">                                            
											<h3>Personen, welche du vielleicht kennst</h3>
											<i class="la la-ellipsis-v"></i>
										</div><!--sd-title end-->
										<div class="suggestions-list">
											<div class="suggestion-usd"  *ngIf="recommendedUser1.name !== '' && showRec1 == true">
												<img class="small-profile-mood" src='{{"./../../assets/images/" + recommendedUser1Emotion + ".png"}}' alt="">
												<div class="sgt-text">
													<h4>{{recommendedUser1.name}}</h4>
													<span>{{recommendedUser1Status}}</span>
												</div>
												<span><i class="la la-plus" (click)="follow(recommendedUser1.id_person, 1)"></i></span>
											</div>
											<div class="suggestion-usd"  *ngIf="recommendedUser2.name !== ''  && showRec2 == true">
												<img class="small-profile-mood" src='{{"./../../assets/images/" + recommendedUser2Emotion + ".png"}}' alt="">
												<div class="sgt-text">
													<h4>{{recommendedUser2.name}}</h4>
													<span>{{recommendedUser2Status}}</span>
												</div>
												<span><i class="la la-plus" (click)="follow(recommendedUser2.id_person, 2)"></i></span>
											</div>
											<div class="suggestion-usd"  *ngIf="recommendedUser3.name !== ''  && showRec3 == true">
												<img class="small-profile-mood" src='{{"./../../assets/images/" + recommendedUser3Emotion + ".png"}}' alt="">
												<div class="sgt-text">
													<h4>{{recommendedUser3.name}}</h4>
													<span>{{recommendedUser3Status}}</span>
												</div>
												<span><i class="la la-plus" (click)="follow(recommendedUser3.id_person, 3)"></i></span>
											</div>
											<div class="suggestion-usd"  *ngIf="recommendedUser4.name !== ''  && showRec4 == true">
												<img class="small-profile-mood" src='{{"./../../assets/images/" + recommendedUser4Emotion + ".png"}}' alt="">
												<div class="sgt-text">
													<h4>{{recommendedUser4.name}}</h4>
													<span>{{recommendedUser4Status}}</span>
												</div>
												<span><i class="la la-plus" (click)="follow(recommendedUser4.id_person, 4)"></i></span>
											</div>
											<div class="suggestion-usd" *ngIf="recommendedUser5.name !== ''  && showRec5 == true">
												<img class="small-profile-mood" src='{{"./../../assets/images/" + recommendedUser5Emotion + ".png"}}' alt="">
												<div class="sgt-text">
													<h4>{{recommendedUser5.name}}</h4>
													<span>{{recommendedUser5Status}}</span>
												</div>
												<span><i class="la la-plus" (click)="follow(recommendedUser5.id_person, 5)"></i></span>
											</div>
											<div class="suggestion-usd" *ngIf="recommendedUser6.name !== ''  && showRec6 == true">
												<img class="small-profile-mood" src='{{"./../../assets/images/" + recommendedUser6Emotion + ".png"}}' alt="">
												<div class="sgt-text">
													<h4>{{recommendedUser6.name}}</h4>
													<span>{{recommendedUser6Status}}</span>
												</div>
												<span><i class="la la-plus" (click)="follow(recommendedUser6.id_person, 6)"></i></span>
											</div>
											<div class="view-more">
												<a href="javascript:;" title="" (click)="getAllUsersFromNetwork()">Mehr anzeigen</a>
											</div>
										</div><!--suggestions-list end-->
									</div>
								</div><!--right-sidebar end-->
							</div>
						</div>
					</div><!-- main-section-data end-->
				</div> 
			</div>
		</main>




		<div id="popup" class="post-popup pst-pj">
			<div class="post-project">
				<h3>Poste deine Stimmung</h3>
				<div class="post-project-fields">
					<form>
						<div class="row">			
							<div class="col-lg-12">
								<div class="inp-field">
									<select style="color: black" id="moodSelector">
										<option value="" disabled selected>Gefühlslage</option>
										<option value="happy">Glücklich</option>
										<option value="sad">Traurig</option>
										<option value="angry">Wütend</option>
									</select>
								</div>
							</div>
							<div class="col-lg-12">
								<textarea id="content" name="description" placeholder="Mir geht es..." style="color: black"></textarea>
                            </div>
                            <div class="col-lg-12">
								<input id="hashtags" (input)="checkForHashtags()" type="text" name="skills" placeholder="#happy #sad" style="color: black" >
							</div>
							<div class="col-lg-12">
								<ul>
									<li><button class="active" type="button" value="post" (click)="submitPost()">Post</button></li>
									<li><a href="javascript:;" title="" (click)="removeOverlay()">Cancel</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div><!--post-project-fields end-->
				<a href="javascript:;" title="" (click)="removeOverlay()"><i class="la la-times-circle-o"></i></a>
			</div><!--post-project end-->
		</div><!--post-project-popup end-->

		



		

	</div><!--theme-layout end-->


<!-- 
<script type="text/javascript" src="./../../js/jquery.min.js"></script>
<script type="text/javascript" src="./../../js/popper.js"></script>
<script type="text/javascript" src="./../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="./../../js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="./../../lib/slick/slick.min.js"></script>
<script type="text/javascript" src="./../../js/scrollbar.js"></script>
<script type="text/javascript" src="./../../js/script.js"></script> -->

</body>
</html>