<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 routerLink="/login" routerLinkActive="active"  class="inactive underlineHover"> Anmelden </h2>
      <h2 class="active">Registrieren </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <div class="fas fa-user" id="icon" alt="User Icon"></div>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="firstname" class="fadeIn second" name="login" placeholder="Vorname">
        <input type="text" id="lastname" class="fadeIn third" name="login" placeholder="Nachname">
        <input type="text" id="email" class="fadeIn fourth" name="login" placeholder="E-Mail Adresse">        
        <input type="password" id="password" class="fadeIn five" name="login" placeholder="Passwort">
        <input type="text" id="dateOfBirth" class="fadeIn sixth" name="login" placeholder="Geburtsdatum (TT.MM.JJJJ)">
        <input type="submit" class="fadeIn seventh" value="Registrieren" (click)="onSubmit()">
      </form>

  
    </div>
  </div>